/* CHAT */
.pUl {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */
.pPages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pPage {
  right: 0;
  height: 80%;
  position: absolute;
  margin-top: 1.5em;
  width: 28%;
  right: 2%;
  border: 3px solid #528EA3;
}

/* Login Page */

.pLogin.pPage {
  background-color: #000;
}

.pLogin.pPage .pForm {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.pLogin.pPage .pForm .pUsernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #528EA3;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 80%;
}

.pLogin.pPage .pTitle {
  font-size: 200%;
}

.pLogin.pPage .pUsernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.pLogin.page .pTitle, .pLogin.pPage .pUsernameInput {
  color: #528EA3;
  font-weight: 100;
}

/* Chat page */

.pChat.pPage {
  display: none;
}

/* Font */

.pMessages {
  font-size: 150%;
}

.pInputMessage {
  font-size: 100%;
}

.pLog {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.pChatArea {
  height: 100%;
  padding-bottom: 60px;
}

.pMessages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.pMessage.pTyping .pMessageBody {
  color: gray;
}

.pUsername {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.pInputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}








/* HEADER/ FOOTER*/
.pColumnsContainer,
.pHeader {
  color: #528EA3;
  overflow: hidden;
  text-align: center;
  height: 65px;
  font-size: 40px;
  letter-spacing: 5px;
  padding-top: 5px;
  vertical-align: center;
}
.pNav{
  text-align: right;
  height: 40px;
  padding-right: 30px;
  font-size: 20px;
  z-index: 1000;
}
.pFooter {
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  text-align: center;
}
#pWelcome {
  font-weight: lighter;
  position: absolute;
  left: 4.8em;
  top: 1.8em;
  text-align: center;
}
/* END HEADER/ FOOTER */



/* NAVIGATION */
.pNav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.pNav > li,
.pNav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.pInline-items {
  margin-top: 0;
}
.pInline-items li {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.pInline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}
.pInline-items li:last-child {
  padding-right: 0;
}
/* END NAVIGATION */


/* BODY */
.pColumnsContainer {
  width: 100%;
  height: 100%;
}
/* RIGHT COLUMN CHAT */
.pRightColumn {
  width: 100%
  position: fixed;
  margin-top: 4.5em;
  height: 100%;
}
/* END RIGHT COLUMN CHAT */


/* LEFT COLUMN DARKROOM */
h1, h3{
  font-weight: lighter;
}
.pLeftColumn{
  left: 0;
  height: 87%;
  position: absolute;
  width: 70%;
}
#pNioImg {
  position: fixed;
  width: 3.4em;
  top: 3.3em;
  left: 3em;
}
#pNioImg:hover {
  width: 4.2em;
}
#pNioPopUp{
  text-align: center;
  align-items: center;
  color: white;
  position: fixed;
  margin: auto;
  height: 330px;
  width: 500px;
  padding: 20px;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  border-radius: 25px;
  background: rgb(56, 56, 83);
  border-top: 1px solid #61baf2;
  border-bottom: 4px solid #000000;
  border-right: 4px solid #1C1C2A;
  opacity: .96;
  z-index: 2;
}
/* BUTTON WORLD */
.btn {
  margin-top: 40px;
  width: 200px;
  padding: 8px;
  border-top: 1px solid #61baf2;
  background: #00001F;
  border-radius: 36px;
  color: white;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  opacity: .7;
}
.btn:hover {
  border-top-color: #285e82;
  color: #ffffff;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  cursor: pointer; cursor: hand;
}
.btn:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
/* END BUTTON WORLD */
.pContainer {
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
}
.pMasked {
  -webkit-mask-image: radial-gradient(circle 0, rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);
}
.pShowImage {
  width: 100%;
  left: 0;
}
#pImage {
  max-height: 700px;
  width: 100%;
  left: 0;
}
#pWinner {
  position: absolute;
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  padding: .5em;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-top: 1px solid #61baf2;
  background: #338ccc;
  color: black;
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  opacity: .8;
  z-index: 10;
}

.pLabel {
    border-radius: .2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    background: #434343;
    text-align:center;
    cursor:pointer;
    vertical-align: middle;
    line-height: 40px;
    margin-top:100px;

    animation: myalert;
    animation-duration:2000ms;
    animation-iteration-count:infinite;
}

@keyframes myalert {
  10% { background-color: #00FFFF; }
  15% { transform: rotate(-5deg) }
  16% { transform: rotate(5deg) }
  17% { transform: rotate(-5deg) }
  18% { transform: rotate(5deg) }
  22% { transform: scale(1.1) }
  40% {
    transform: rotate(0deg);
    transform: scale(1)
  }
  100% { transform: rotate(0deg) }
}
/* END LEFT COLUMN DARKROOM */
/* END BODY */
