<link rel="stylesheet" href="/../css/chat.css">
<link rel="stylesheet" href="/../css/darkroom.css">

<!-- ********************* Play Page ************************** -->
<div id="playPage">
 <!-- HEADER AREA -->
<header>FLASHLIGHT DUTY</header>
<div><h2 id="welcome"></h2></div>

<!-- CONNECT TO NIO -->
<div><img id="nioImg" src="/./images/connect.png"></div>
<div id='nioPopUp'>

  <div class="spaceRow">
    <button class='btn' id="nioNah">X</button>
    <h1>Connect to n.io?</h1>
    <button class='btn' id="nioHuh">?</button>
  </div>

  <div id="nioContent">N.io allows you to connect your mobile device as a controller to this game.<br> Instead of using the mousepad to move your flashlight up, down, left or right over the image, you can use your phone's movement to do that same!</div>
  <div id="response"></div>
  <form>
    <input type="text" class="form-control" placeholder="enter your phone number here" name="phone" id="phoneInput" required>
    n<button class="btn" id="nioYes">Yes!</button>
  </form>

</div>
<!-- END CONNECT TO NIO -->


 <nav>
  <ul class="nav inline-items">
    <li>Score: 0</li>
    <li><a class='border' href="#/">Home</a></li>
    <li><a class='border' href="#/profile">Profile</a></li>
 </ul>
</nav>

<!-- LEFT COLUMN DARKROOM -->
<div class="bodyWrapper">
  <div class="leftColumn">
    <div class="container">
      <!-- <span><h3>CURRENT PERSON ON FLASHLIGHT DUTY:</h3></span>
      <span><h3 id="onDuty">CRYSTAL</h3></span>
      <p><a class='border' href="#">Switch off Duty</a></p> -->


     <div class="label" id="winner"></div>

      <div class="imageDiv">
        <img class="showImage" src="/./images/darkroom/paris.png">

        <img class="masked" id="image" src="/./images/darkroom/paris.png"/>
      </div>
    </div>

  </div>

  <!-- RIGHT BAR CHAT -->
  <div class="rightColumnChat">
    <ul class="pages">
       <!-- LOGIN PAGE -->
        <li class="login page">
          <div class="form">
            <h3 class="title">What's your nickname?</h3>
            <input class="chat usernameInput" type="text" maxlength="14" />
          </div>
        </li>
      <!-- END LOGIN PAGE -->
      <li class="chatInput page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="chatInput inputMessage" placeholder="type your guess here..."/>
      </li>
    </ul>
  </div>
</div>

<!-- FOOTER -->
<footer>
  <p><a href="https://www.linkedin.com/in/crystalomara">Developer LinkedIn</a> | <a href="https://github.com/omaracrystal/Flashlight_Duty.Angular.io">Source Code</a> | <a href="https://github.com/omaracrystal/Flashlight_Duty.Angular.io">Privacy Policy</a></p>
  <p>&copy;2015 Flashlight Duty</p>
</footer>

</div>
<!-- ********************* End Play Page ************************** -->
